<div class="banner"></div>
<div fxLayoutAlign="center center" fxLayout="column" style="height: 100%;">
  <h1 class="mat-display-3 big-title">Marie LaChance</h1>
  <span>Website under construction. Find me on:</span>
  <br>
  <div fxLayoutAlign="center center" fxLayout="row wrap">
    <button mat-button fxFlex="100">
      <mat-icon>
        <fa-icon icon="spotify"></fa-icon>
      </mat-icon>
      Spotify
    </button>
    <button mat-button fxFlex="100">
      <mat-icon>
        <fa-icon icon="soundcloud"></fa-icon>
      </mat-icon>
      SoundCloud
    </button>
    <button mat-button fxFlex="100">
      <mat-icon>
        <fa-icon icon="instagram"></fa-icon>
      </mat-icon>
      Instagram
    </button>
    <button mat-button fxFlex="100">
      <mat-icon>
        <fa-icon icon="linkedin"></fa-icon>
      </mat-icon>
      LinkedIn
    </button>
    <button mat-button fxFlex="100">
      <mat-icon>
        <fa-icon icon="facebook"></fa-icon>
      </mat-icon>
      Facebook
    </button>
    <button mat-button fxFlex="100">
      <mat-icon>
        <fa-icon icon="twitter"></fa-icon>
      </mat-icon>
      Twitter
    </button>
  </div>
</div>