.banner  {
  background-size: cover;
  background-image: url(../../assets/stephanieblue.jpg);
  background-position: right;
  background-repeat: no-repeat;
  position: fixed;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  z-index: -30;
  filter: blur(10px);
}

.big-title {
  margin: 0;
  text-align: center;
}

mat-icon.fab {
  font-size: 15pt;
}