<div class="banner"></div>
<div fxLayoutAlign="center center" fxLayout="column" style="height: 100%;">
  <h1 class="mat-display-3 big-title">Marie LaChance</h1>
  <br>
  <iframe width="685px" height="360px" src="https://www.youtube.com/embed/KUcwqaZsoa8" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <br>
  <span>Find me on:</span>
  <br>
  <div fxLayoutAlign="center center" fxLayout="row wrap">
    <a mat-button target="_blank" fxFlexLayoutAlign="center center"
      href="https://www.youtube.com/channel/UCt8sXunwp1Dr02PbxUmusAg">
      <mat-icon fontSet="fab" fontIcon="fa-youtube">
      </mat-icon>
      YouTube
    </a>
    <a mat-button target="_blank" fxFlexLayoutAlign="center center" href="https://soundcloud.com/marielachance">
      <mat-icon fontSet="fab" fontIcon="fa-soundcloud">
      </mat-icon>
      SoundCloud
    </a>
    <a mat-button target="_blank" fxFlexLayoutAlign="center center" href="https://www.instagram.com/stephaniej_95/">
      <mat-icon fontSet="fab" fontIcon="fa-instagram">
      </mat-icon>
      Instagram
    </a>
    <a mat-button fxFlexLayoutAlign="center center" target="_blank" href="mailto:mgmt@marielachance.com">
      <mat-icon>email</mat-icon>
      Email
    </a>
    <!-- <a mat-button fontSet="fab" fontIcon="fa-spotify">
      Spotify
    </a>
    <a mat-button fontSet="fab" fontIcon="fa-facebook">
      Facebook
    </a>
    <a mat-button fontSet="fab" fontIcon="fa-twitter">
      Twitter
    </a> -->
  </div>
</div>